<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>queryRoomServlet</servlet-name>
    <servlet-class>com.gl.hotel.QueryRoomServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryRoomServlet</servlet-name>
    <url-pattern>/queryroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bookRoomServlet</servlet-name>
    <servlet-class>com.gl.hotel.BookRoomServlet</servlet-class>
<!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>bookRoomServlet</servlet-name>
    <url-pattern>/bookroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getServlet</servlet-name>
    <servlet-class>com.gl.hotel.GetServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>getServlet</servlet-name>
    <url-pattern>/getServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>postServlet</servlet-name>
    <servlet-class>com.gl.hotel.PostServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>postServlet</servlet-name>
    <url-pattern>/postServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userRegisterServlet</servlet-name>
    <servlet-class>com.gl.hotel.UserRegisterServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>userRegisterServlet</servlet-name>
    <url-pattern>/userRegister</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>createCookieServlet</servlet-name>
    <servlet-class>com.gl.hotel.cookie.CreateCookieServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>createCookieServlet</servlet-name>
    <url-pattern>/cookie/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>useCookieServlet</servlet-name>
    <servlet-class>com.gl.hotel.cookie.UseCookieServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>useCookieServlet</servlet-name>
    <url-pattern>/cookie/use</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryCookieServlet</servlet-name>
    <servlet-class>com.gl.hotel.cookie.QueryCookieServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>queryCookieServlet</servlet-name>
    <url-pattern>/cookie/query</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.gl.hotel.cookie.RegisterServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/cookie/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.gl.hotel.cookie.LoginServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/cookie/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryEmptyRoomServlet</servlet-name>
    <servlet-class>com.gl.hotel.cookie.QueryEmptyRoomServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>queryEmptyRoomServlet</servlet-name>
    <url-pattern>/cookie/queryEmptyRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changePasswordServlet</servlet-name>
    <servlet-class>com.gl.hotel.cookie.ChangePasswordServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>changePasswordServlet</servlet-name>
    <url-pattern>/cookie/changePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createSessionServlet</servlet-name>
    <servlet-class>com.gl.hotel.session.CreateSessionServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>createSessionServlet</servlet-name>
    <url-pattern>/session/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>querySessionServlet</servlet-name>
    <servlet-class>com.gl.hotel.session.QuerySessionServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>querySessionServlet</servlet-name>
    <url-pattern>/session/query</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>invalidSessionServlet</servlet-name>
    <servlet-class>com.gl.hotel.session.InvalidSessionServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>invalidSessionServlet</servlet-name>
    <url-pattern>/session/invalid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addToCartServlet</servlet-name>
    <servlet-class>com.gl.hotel.session.AddToCartServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCartServlet</servlet-name>
    <url-pattern>/session/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name> queryCartServlet</servlet-name>
    <servlet-class>com.gl.hotel.session.QueryCartServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>queryCartServlet</servlet-name>
    <url-pattern>/session/queryCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name> queryOderServlet</servlet-name>
    <servlet-class>com.gl.hotel.cookie.QueryOrderServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>queryOderServlet</servlet-name>
    <url-pattern>/cookie/queryOrder</url-pattern>
  </servlet-mapping>
<!--  <servlet>-->
<!--    <servlet-name> queryOnlineCountServlet</servlet-name>-->
<!--    <servlet-class>com.gl.hotel.cookie.QueryOnlineCountServlet</servlet-class>-->
<!--    &lt;!&ndash;    <load-on-startup>0</load-on-startup>&ndash;&gt;-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>queryOnlineCountServlet</servlet-name>-->
<!--    <url-pattern>/cookie/queryOnlineCount</url-pattern>-->
<!--  </servlet-mapping>-->
  <filter>
    <filter-name> queryCartServlet</filter-name>
    <filter-class>com.gl.hotel.filter.MyFilter1</filter-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </filter>
  <filter-mapping>
    <filter-name>queryCartServlet</filter-name>
    <url-pattern>/session/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>myFilter1</filter-name>
    <filter-class>com.gl.hotel.filter.MyFilter1</filter-class>
  </filter>
  <filter>
    <filter-name>myFilter2</filter-name>
    <filter-class>com.gl.hotel.filter.MyFilter2</filter-class>
  </filter>
  <filter>
    <filter-name>myFilter3</filter-name>
    <filter-class>com.gl.hotel.filter.MyFilter3</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>myFilter1</filter-name>
    <url-pattern>/session/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>myFilter2</filter-name>
    <url-pattern>/session/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>myFilter3</filter-name>
    <url-pattern>/session/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.gl.hotel.filter.LoginFilter</filter-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/cookie/*</url-pattern>
  </filter-mapping>
<!--  <listener>-->
<!--    <listener-class>com.gl.hotel.listener.MyListener</listener-class>-->
<!--  </listener>-->
  <listener>
    <listener-class>com.gl.hotel.listener.MyHttpSessionListener</listener-class>
  </listener>
</web-app>
