<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>queryRoomServlet</servlet-name>
    <servlet-class>com.gl.hotel.QueryRoomServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryRoomServlet</servlet-name>
    <url-pattern>/queryroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bookRoomServlet</servlet-name>
    <servlet-class>com.gl.hotel.BookRoomServlet</servlet-class>
<!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>bookRoomServlet</servlet-name>
    <url-pattern>/bookroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getServlet</servlet-name>
    <servlet-class>com.gl.hotel.GetServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>getServlet</servlet-name>
    <url-pattern>/getServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>postServlet</servlet-name>
    <servlet-class>com.gl.hotel.PostServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>postServlet</servlet-name>
    <url-pattern>/postServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userRegisterServlet</servlet-name>
    <servlet-class>com.gl.hotel.UserRegisterServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>userRegisterServlet</servlet-name>
    <url-pattern>/userRegister</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>createCookieServlet</servlet-name>
    <servlet-class>com.gl.hotel.cookie.CreateCookieServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>createCookieServlet</servlet-name>
    <url-pattern>/cookie/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>useCookieServlet</servlet-name>
    <servlet-class>com.gl.hotel.cookie.UseCookieServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>useCookieServlet</servlet-name>
    <url-pattern>/cookie/use</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryCookieServlet</servlet-name>
    <servlet-class>com.gl.hotel.cookie.QueryCookieServlet</servlet-class>
    <!--    <load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>queryCookieServlet</servlet-name>
    <url-pattern>/cookie/query</url-pattern>
  </servlet-mapping>
</web-app>
